.TodoItem {
    background-color: #c850c0bb;
    position: relative;
    width: 90%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 5px;
    margin-top: 10px;    
    font-size: 1.6rem;
    display: inline-block;
}

.TodoItem span {
    width: 10%;
    font-size: 1.8rem;
    font-weight: 700;
}

.TodoItem p {
    width: 80%;
    text-align: start;
    margin-top: 13px;
    margin-bottom: 13px;
    display: inline-block;
}

.TodoItem-p--complete {
    text-decoration: line-through;
    transition: 3s;
    cursor: default;
    color: rgba(0, 0, 0, 0.363);
}

.Icon {
    position: absolute;
    top: calc(50% - 13px);
    left: 15px;
    cursor: pointer;
    color: white;
}

.closeButton {
    transition: 0.5s;
    position: absolute;
    top: calc(50% - 13px);
    cursor: pointer;
    color: white;
}

.Icon-check--active {
    transition: 1s;
    transform: rotate(360deg);
    color: rgba(255, 255, 255, 0.363);
    cursor: default;
}

.closeButton:hover {
    transition: 0.5s;
    transform: rotate(360deg);
    color: rgb(206, 60, 60);
}
