:root {
  --moradoColor: #692DAC;
  --rosaColor: #ff5ff4 ;
  --azulCielo: #34ACAE;
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: 'DM Sans', sans-serif;
}

html {
  font-size: 62.5%;
}

